packages
Luncher/bin/Debug
Luncher/bin/Release
Luncher/obj
NewBet365Leader/bin/Debug
NewBet365Leader/bin/Release
NewBet365Leader/obj
NewBet365Leader/bin/Debug/Temp
NewBet365Leader/bin/Debug/Cookies
NewBet365Leader/bin/Release/Temp
NewBet365Leader/bin/Release/Cookies
*.exe
/.vs
/ChromeDevTools/bin
/ChromeDevTools/obj
/NewBet365Leader/bin
